
#master{
    
    height: 100vh;
    background-image: url('https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/07/20/pokemon-mestre-anime-qxtbzrqh66us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: static;

    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card-conteiner {
    border: solid 3px #000000;
    width: 250px;
    height: 450px;

    display: flex;
    flex-direction: column;
    background-color: #232323;
       border-radius: 10px;
    
    }

.card-conteiner >input{
    border-radius: 20px; 
    margin: 15px 15px;
    padding: 8px;
    
}

.card-title>h3 {
    color: #ffff;
    text-align: center;
}

.card-body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc9;
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

.card-body > img {
    height: 250px;
}

.card-stats {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats-attribute {
    color: #070707;
    font-weight: bold;
    background-color: #ff7f50;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}